button.play-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: tomato;
  color: white;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
}
